.Examples h1 {
  margin-bottom: 10px;
}
.Examples .Row {
  width: 80%;
}
.Examples ul li {
  font-size: var(--modal-font-size);
}
.Examples ul li div {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
  border: 1px solid rgb(88, 88, 88)
}
.Examples ul li div[data-state='absent'] {
  background-color: var(--color-absent);
}
.Examples ul li div[data-state='present'] {
  background-color: var(--color-present);
}
.Examples ul li div[data-state='correct'] {
  background-color: var(--color-correct);
}