:root {
	--header-height: 50px;
	--game-max-width: 500px;
	--keyboard-height: 200px;
	--key-color: #818384;
	--color-tone-1: #ffffff;
	--color-correct: #538d4e;
	--color-present: #b59f3b;
	--color-absent: #3a3a3c;
	--modal-font-size: 15px;
	--opacity-50:rgba(0, 0, 0, 0.5);
}
html {
	background-color: #121213;
}
main {
	color: white;
	width: 100%;
	max-width: var(--game-max-width);
	margin: 0 auto;
	height: calc(100% - var(--header-height));
	display: flex;
	flex-direction: column;
}
