
html {
	background-color: #121213;
}
main {
/*   text-align: center;
  vertical-align: center;
  line-height: 100vh; */
	color: white;
/* 	background-color: black; */
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	height: calc(100% - 50px);
	display: flex;
	flex-direction: column;
}

.board-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	overflow: hidden;
}