.Tile {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	line-height: 2rem;
	font-weight: bold;
	vertical-align: middle;
	box-sizing: border-box;
	text-transform: uppercase;
	user-select: none;
	cursor: pointer;
}
.highlighted {
	border: 2px solid white !important;
}
.Tile::before {
	content: '';
	display: inline-block;
	padding-bottom: 100%;
}
.Tile[data-state='empty'] {
	border: 2px solid #3a3a3c;
}
.Tile[data-state='absent'] {
	background-color: var(--color-absent);
}
.Tile[data-state='present'] {
	background-color: var(--color-present);
}
.Tile[data-state='correct'] {
	background-color: var(--color-correct);
}

@media (max-height: 600px) {
	.Tile {
		font-size: 1em;
		line-height: 1em;
	}
}